@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #a6c6ce;
}
.hidden {
  display: none;
}
/* ---------- Header ---------- */
header {
  z-index: 99;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #293040;
  height: 48px;
  position: fixed;
  justify-content: space-between;
  color: #a3cad4;
}
h1 {
  font-size: 1.6rem;
  font-family: "Permanent Marker", cursive;
  min-width: 204px;
}
#company-info {
  display: flex;
  align-items: center;
}
#company-logo {
  background: url("../images/turkish-feast-high-resolution-logo.png") no-repeat
    center center/cover;
  width: 48px;
  height: 48px;
}
/* ---------- Dropdown Navigation ---------- */
#dropdown {
  display: none;
}
header label {
  padding-right: 10px;
  font-size: 1.8rem;
}
nav {
  position: absolute;
  letter-spacing: 2px;
  top: 48px;
  background-color: #293040;
  width: 100%;
  padding: 5px 10px;
  line-height: 1.5rem;
  display: none;
}
nav a {
  text-decoration: none;
  color: #a3cad4;
}
#navigation {
  list-style-type: none;
}
#dropdown:checked ~ nav {
  display: block;
}
/* ---------- Homepage ---------- */
#homepage-main {
  padding: 48px 0px;
}
#restaurant-history {
  padding: 5px 10px;
}
#history-title {
  padding-bottom: 10px;
}
#logo-img {
  background: url("../images/turkish-feast-high-resolution-logo.png") no-repeat
    center center/cover;
}
#title-img {
  background: url("../images/grilled-meat-and-vegetable-on-the-table.jpg")
    no-repeat center center/cover;
}
.homepage-img {
  width: 100%;
  height: 285px;
  border-radius: 10px;
}
#restaurant-history p {
  color: black;
  padding-top: 5px;
  font-size: 1.3rem;
  text-indent: 1rem;
  line-height: 1.5rem;
  font-family: "Oswald", sans-serif;
}
#epilogue-img {
  background: url("../images/turkish-coffee.jpg") no-repeat center center/cover;
}
/* ---------- Social Media ---------- */
#social-media {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: baseline;
}
#social-media i {
  font-size: 2rem;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-instagram {
  color: #e1306c;
}
.fa-tiktok {
  color: black;
}
.fa-youtube {
  color: #ff0000;
}
.fa-x-twitter {
  color: black;
}
/* ---------- Footer ---------- */
footer {
  z-index: 99;
  display: flex;
  width: 100%;
  bottom: 0;
  align-items: center;
  background-color: #293040;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  color: white;
  padding: 0 10px;
}
#table-sit {
  display: flex;
  align-items: baseline;
}
#table-sit h3 {
  margin-right: 5px;
  font-size: 1rem;
}
#table-sit i {
  font-size: 1.4rem;
  color: rgb(85, 230, 57);
}
#footer-social-media {
  display: none;
}
#restaurant-status {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#restaurant-status h4 {
  margin-right: 5px;
}
#restaurant-status i {
  font-size: 1.4rem;
  color: rgb(85, 230, 57);
}

/* ---------- Gallery ---------- */
figure {
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
}
#photo-1 {
  background: url("../images/birthday-photo.webp") no-repeat center center/cover;
}
#photo-2 {
  background: url("../images/halloween-window.jpg") no-repeat center
    center/cover;
}
#photo-3 {
  background: url("../images/serpme-kahvalti-photo.jpg") no-repeat center
    center/cover;
}
#photo-4 {
  background: url("../images/Iskender-Kebap-klassisch.webp") no-repeat center
    center/cover;
}
#photo-5 {
  background: url("../images/celebrate.webp") no-repeat center center/cover;
}
#photo-6 {
  background: url("../images/family-dinner.webp") no-repeat center center/cover;
}
#photo-7 {
  background: url("../images/dinner.webp") no-repeat center center/cover;
}
.photo {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 300px;
}
.photo-info {
  padding: 5px;
  position: absolute;
  color: #d9e2e4;
  font-size: 1rem;
  background-color: rgba(34, 31, 31, 0.589);
  border-radius: 5px;
}
/* ---------- Contact ---------- */
.contact {
  font-family: "Oswald", sans-serif;
  padding: 48px 5px;
}
.contact-info {
  padding: 10px 0px;
}
.contact-info i {
  font-size: 1.6rem;
  color: black;
}
.contact-info p {
  font-size: 1.4rem;
  color: #020303;
}
.work-hours {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.map iframe {
  width: 100%;
}
textarea {
  width: 100%;
  height: 6rem;
}
#form-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
#contact-button {
  padding: 5px;
  border: 1px solid #293040;
  border-radius: 5px;
  background-color: #04aa6d;
}
/* ---------- Menu Navigation ---------- */
#menu-navigation {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  top: 48px;
  z-index: 98;
}
#menu-navigation li {
  padding: 5px;
  border: 1px solid #293040;
  background-color: #ffc3a1;
  flex-grow: 2;
  font-weight: 700;
}
#menu-navigation a {
  text-decoration: none;
  color: #212121;
}
/* ---------- Menu ---------- */
#menu {
  padding-bottom: 48px;
}
#foods {
  background-color: #293040;
}
#foods > div {
  padding-top: 110px;
}
.food hr {
  border: 1px solid rgb(120, 203, 224);
  width: 100%;
}
#foods h2 {
  color: rgb(161, 218, 56);
  font-family: "Permanent Marker", cursive;
  padding-left: 5px;
  text-align: center;
}
.food {
  padding: 10px;
}
.food img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}
.food h4 {
  font-family: "Lato", sans-serif;
  color: rgb(218, 180, 56);
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 0px;
}
.food p {
  font-family: "Lato", sans-serif;
  color: #d9e2e4;
}
/* Tablet View Port */
@media screen and (min-width: 768px) {
  /* ---------- Tablet Header ---------- */

  header label {
    display: none;
  }
  nav {
    display: flex;
    position: relative;
    justify-content: end;
    top: 0;
    text-align: end;
    font-size: 1.3rem;
  }
  nav li {
    display: inline-block;
  }
  .active {
    border-bottom: 1px solid #a3cad4;
  }
  /* ---------- Tablet Footer ---------- */

  #footer-social-media {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
  /* ---------- Tablet Homepage ---------- */

  #history-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;
  }
  #history-title p {
    display: flex;
    height: 285px;
    text-align: center;
    align-items: center;
    width: 370px;
  }
  .homepage-img {
    width: 370px;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  #title-img {
    max-width: 370px;
  }
  #social-media {
    display: none;
  }
  /* ---------- Tablet Gallery ---------- */
  figure {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
  .photo {
    width: 350px;
    flex-grow: 2;
  }
  /* ---------- Tablet Contact ---------- */
  .contact {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 20px;
  }
  .contact-info {
    text-align: end;
    width: 350px;
  }
  .contact-info p {
    font-size: 2rem;
  }
  .work-hours {
    width: 350px;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .work-hours ul {
    list-style-type: none;
  }
  .map {
    width: 100%;
  }
  #contact-form {
    font-size: 2rem;
    width: 100%;
  }
  .contact-input {
    display: flex;
    gap: 0px 20px;
    padding-bottom: 10px;
  }
  textarea {
    height: 15rem;
  }
  #name {
    height: 47px;
    width: 50%;
  }
  #email {
    height: 47px;
    width: 50%;
  }
  #subscription {
    width: 25px;
    height: 25px;
  }
  #contact-button {
    width: 6rem;
    font-size: 2rem;
  }
  /* ---------- Tablet Menu ---------- */
  #menu-navigation {
    left: 0;
    transform: translate(calc(50vw - 50%));
  }
  #foods > div {
    padding-top: 79px;
  }
  #foods h2 {
    font-size: 2rem;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .food {
    width: 380px;
  }
  .food img {
    width: 360px;
    height: 300px;
  }
}
