* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.hidden {
  display: none;
}
/* Header */
header {
  z-index: 99;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #293040;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  color: #a3cad4;
}
h1 {
  font-size: 1.6rem;
}
#company-info {
  display: flex;
  align-items: center;
}
#company-logo {
  background: url("../images/turkish-feast-high-resolution-logo.png") no-repeat
    center center/cover;
  width: 48px;
  height: 48px;
}
/* Dropdown Navigation*/
#dropdown {
  display: none;
}
header label {
  padding-right: 10px;
  font-size: 1.8rem;
}
nav {
  position: absolute;
  letter-spacing: 2px;
  top: 48px;
  background-color: #2c485a;
  width: 100%;
  padding: 5px 10px;
  line-height: 1.5rem;
  display: none;
}
nav a {
  text-decoration: none;
  color: #a3cad4;
}
#navigation {
  list-style-type: none;
}
#dropdown:checked ~ nav {
  display: block;
}
/* Main Content */
main {
  padding: 48px 0px;
  background-color: #4c7a87;
}
#restaurant-history {
  padding: 5px 10px;
}
#history-title {
  padding-bottom: 10px;
}
#title-img {
  background: url("../images/grilled-meat-and-vegetable-on-the-table.jpg")
    no-repeat center center/cover;
  width: 100%;
  height: 285px;
  border-radius: 10px;
}
#restaurant-history p {
  padding-top: 5px;
  font-size: 1.3rem;
  text-indent: 1rem;
}
