@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #a6c6ce;
}
.hidden {
  display: none;
}
/* ---------- Header ---------- */
header {
  z-index: 99;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #293040;
  height: 48px;
  position: fixed;
  justify-content: space-between;
  color: #a3cad4;
}
h1 {
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
  min-width: 204px;
}
img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}
#company-info {
  display: flex;
  align-items: center;
}
#company-logo {
  display: flex;
}
.logo {
  width: 48px;
  height: 48px;
}
/* ---------- Dropdown Navigation ---------- */
#dropdown {
  display: none;
}
header label {
  padding-right: 10px;
  font-size: 1.8rem;
}
nav {
  position: absolute;
  letter-spacing: 2px;
  top: 48px;
  background-color: #293040;
  width: 100%;
  padding: 5px 10px;
  line-height: 1.5rem;
  display: none;
}
nav a {
  text-decoration: none;
  color: #a3cad4;
}
#navigation {
  list-style-type: none;
}
#dropdown:checked ~ nav {
  display: block;
}
/* ---------- Homepage ---------- */
#homepage-main {
  padding: 48px 0px;
}
#restaurant-history {
  padding: 5px 10px;
}
#history-title {
  padding-bottom: 10px;
}
.homepage-img {
  width: 100%;
  height: 285px;
  border-radius: 10px;
}
#restaurant-history p {
  color: black;
  padding: 5px 0px;
  font-size: 1.3rem;
  text-indent: 1rem;
  line-height: 1.5rem;
  font-family: "Oswald", sans-serif;
}
/* ---------- Social Media ---------- */
#social-media {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: baseline;
}
#social-media i {
  font-size: 2rem;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-instagram {
  color: #e1306c;
}
.fa-tiktok {
  color: black;
}
.fa-youtube {
  color: #ff0000;
}
.fa-x-twitter {
  color: black;
}
/* ---------- Footer ---------- */
footer {
  z-index: 99;
  display: flex;
  width: 100%;
  bottom: 0;
  align-items: center;
  background-color: #293040;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  color: white;
  padding: 0 10px;
}
#table-sit {
  display: flex;
  align-items: baseline;
}
#table-sit i {
  font-size: 1.4rem;
  color: rgb(85, 230, 57);
}
#footer-social-media {
  display: none;
}
#restaurant-status {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-p {
  margin-right: 5px;
  font-weight: 600;
  font-size: 1rem;
}
#restaurant-status i {
  font-size: 1.4rem;
  color: rgb(85, 230, 57);
}

/* ---------- Gallery ---------- */
figure {
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
}
.image-container {
  position: relative;
}
.photo {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 300px;
}
.photo-info {
  padding: 5px;
  position: absolute;
  top: 0;
  color: #d9e2e4;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgba(34, 31, 31, 0.589);
  border-radius: 5px;
}
/* ---------- Contact ---------- */
.contact {
  font-family: "Oswald", sans-serif;
  padding: 48px 5px;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.contact-info {
  padding: 10px 0px;
}
.contact-info i {
  font-size: 1.6rem;
  color: black;
}
.contact-info p {
  font-size: 1.4rem;
  color: #020303;
}
.work-hours {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-align: center;
}
.map {
  text-align: center;
}
.map iframe {
  width: 100%;
  height: 300px;
  max-width: 700px;
}
textarea {
  width: 100%;
  height: 10rem;
}
#form-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
#contact-button {
  padding: 5px;
  border: 1px solid #293040;
  border-radius: 5px;
  background-color: #04aa6d;
}
/* ---------- Menu Navigation ---------- */
#menu-navigation {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  top: 48px;
  z-index: 98;
}
#menu-navigation li {
  padding: 5px;
  border: 1px solid #293040;
  background-color: #ffc3a1;
  flex-grow: 2;
  font-weight: 700;
}
#menu-navigation a {
  text-decoration: none;
  color: #212121;
}
/* ---------- Menu ---------- */
#menu {
  padding-bottom: 48px;
}
#foods {
  background-color: #293040;
}
#foods > div {
  padding-top: 110px;
}
.food hr {
  border: 1px solid rgb(120, 203, 224);
  width: 100%;
}
#foods h2 {
  color: rgb(161, 218, 56);
  font-family: "Permanent Marker", cursive;
  padding-left: 5px;
  text-align: center;
}
.food {
  padding: 10px;
}
.food img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.food-description {
  font-family: "Lato", sans-serif;
  color: #d9e2e4;
}
.food-name {
  font-family: "Lato", sans-serif;
  color: rgb(218, 180, 56);
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 0px;
  font-weight: 700;
}

/* ---------- Error Page ---------- */
#error-page {
  padding-top: 48px;
  background: url("../images/404-background.webp") no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}
#error-page h2 {
  font-size: 10rem;
  margin-top: 5vh;
  color: #a6c6ce;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#page-description {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #0fbaee;
  margin-top: 5vh;
}
#page-explanation {
  margin: 6vh 5px;
  font-size: 1.5rem;
  color: #ffc3a1;
}
#home-button {
  text-decoration: none;
  font-size: 1.7rem;
  border: 1px solid #308ba1;
  border-radius: 20px;
  background-color: #308ba1;
  font-family: "Oswald", sans-serif;
  color: #1d1b30;
  padding: 10px;
  font-weight: 400;
}
#home-button:hover {
  background-color: rgb(47, 211, 211);
  border-color: rgb(47, 211, 211);
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* ---------- Tablet Header ---------- */

  header label {
    display: none;
  }
  nav {
    display: flex;
    position: relative;
    justify-content: end;
    top: 0;
    text-align: end;
    font-size: 1.3rem;
  }
  h1 {
    display: inline-block;
    letter-spacing: 5px;
    width: 350px;
  }
  nav li {
    display: inline-block;
  }
  .active {
    border-bottom: 1px solid #a3cad4;
  }
  /* ---------- Tablet Footer ---------- */

  #footer-social-media {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
  /* ---------- Tablet Homepage ---------- */

  #history-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 20px;
  }
  #history-title p {
    display: flex;
    height: 285px;
    text-align: center;
    align-items: center;
    width: 50%;
  }
  .homepage-img {
    width: 350px;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }

  #social-media {
    display: none;
  }
  /* ---------- Tablet Gallery ---------- */
  figure {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 10px;
    justify-content: space-between;
  }
  .photo {
    width: 365px;
    flex-grow: 2;
  }
  /* ---------- Tablet Contact ---------- */
  .contact {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 20px;
  }
  .information {
    flex-direction: row;
  }
  .contact-info {
    text-align: center;
    width: 350px;
  }
  .contact-info p {
    font-size: 2.1rem;
  }
  .work-hours {
    width: 350px;
    font-size: 1.6rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .work-hours ul {
    list-style-type: none;
  }
  .map {
    width: 100%;
  }
  #contact-form {
    font-size: 1.5rem;
    width: 100%;
  }
  .contact-input {
    display: flex;
    gap: 0px 20px;
    padding-bottom: 10px;
  }
  textarea {
    height: 15rem;
  }
  #name {
    height: 47px;
    width: 50%;
  }
  #email {
    height: 47px;
    width: 50%;
  }
  #subscription {
    width: 25px;
    height: 25px;
  }
  #contact-button {
    width: 6rem;
    font-size: 2rem;
  }
  /* ---------- Tablet Menu ---------- */
  #menu-navigation {
    left: 0;
    transform: translate(calc(50vw - 50%));
  }
  #foods > div {
    padding-top: 79px;
  }
  #foods h2 {
    font-size: 2rem;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .food {
    width: 380px;
  }
  .food img {
    width: 360px;
    height: 300px;
  }
}
/*  Laptop  */
@media screen and (min-width: 1024px) {
  /* ---------- Laptop Header ---------- */
  nav li {
    margin-left: 10px;
  }
  /* ---------- Laptop Homepage ---------- */
  #history-title {
    display: flex;
    justify-content: start;
    gap: 10px 20px;
  }
  #history-title p {
    width: 64%;
  }
  .homepage-img {
    width: 100%;
  }
  .img-container {
    width: 33%;
  }
  /* ---------- Laptop Gallery ---------- */
  .photo {
    width: 325px;
  }
  /* ---------- Laptop Contact ---------- */
  .work-hours {
    right: 0;
  }

  /* ---------- Laptop Menu ---------- */
  .food {
    width: 340px;
  }
  .food img {
    width: 320px;
    height: 250px;
  }
}
/* ---------- Desktop ---------- */
@media screen and (min-width: 1600px) {
  /* ---------- Desktop Homepage ---------- */
  .img-container {
    width: 34%;
  }
  .homepage-img {
    height: 400px;
  }
  #history-title p {
    height: 400px;
  }
  /* ---------- Desktop Gallery ---------- */
  .photo {
    width: 520px;
  }
  /* ---------- Desktop Menu ---------- */
  .food {
    width: 340px;
  }
  .food img {
    width: 320px;
    height: 250px;
  }
}
